{{> _msg }}
<div id="colorlib-container">
    <div class="container">

        <div class="box1">
            <div class="col-md-12" style="padding: 0.5em 0.5em 0 0.5em !important;">
                <div class="row row-pb-md">

                    <div class="col-md-12">
                        <h1 class="font_color"><b>Add Food Item</b></h1>
                        <hr>
                    </div>

                    <form method="POST" style="width:100%">
                        <div class="row form-group" style="margin:0;">
                            <div class="col-md-6" style="margin-bottom:2em;">
                                <label>Food Image</label><br>
                                <img src="/images/nice-waffle.jpg" id="venImage" class="img-responsive shopImage"
                                    alt="Image">
                                <input type="file" id="venUpload" name="venUpload"
                                    accept="image/png,image/jpeg,image/jpg,image/gif">
                                <input id="imageURL" type="hidden" name="imageURL" value="/images/nice-waffle.jpg">
                            </div>

                            <div class="col-md-6">
                                <div class="desc">
                                    <p class="meta">
                                        <label>Name of Food</label>
                                        <input name="name" id="name" type="text" class="form-control" value="" placeholder="Name" required>
                                        <label>Calories</label>
                                        <input name="calories" id="calories" type="text" class="form-control" value="" placeholder="Calories" required>
                                        <h4 class="font_color"><b>Shops</b></h4>
                                        <hr>
                                        {{#each shop}}
                                        <div class="checkbox-group" style="display:inline-block;">
                                            <input name="shop" id="shop" type="checkbox" class="checkbox" value="{{this.id}}">
                                            <label>{{this.name}}</label>{{#unless @last}}&nbsp;•&nbsp;{{/unless}}
                                        </div>
                                        {{/each}}
                                    </p>
                                </div>
                                <button type="submit" name="action" value="Add Food" class="btn btn-primary btn-tall" id="addFoodButton" style="float:right" disabled>Add
                                    Food</button>
                            </div>

                        </div>
                    </form>

                </div>
                <br>
            </div>
        </div>

    </div>
</div>

<script>
    $('.checkbox')
    .bind("propertychange change click keyup input paste", function (event) {
        if ($('.checkbox:checkbox:checked').length == 0) {
            $("#addFoodButton").attr("disabled", true);
        } else {
            $("#addFoodButton").attr("disabled", false);
        }
    });
</script>