{{> _msg }}
<div id="colorlib-container">
    <div class="container">

        <div class="box1">
            <div class="col-md-12" style="padding: 0.5em 0.5em 0 0.5em !important; height: 545px;">
                <div class="row row-pb-md">

                    <div class="col-md-12">
                        <h1 class="font_color"><b>Improve this Question</b></h1>
                        <hr>
                    </div>

                    <form method="post" action="/user/editQuestion" style="width:100%">
                        <div class="row form-group" style="margin:0;">

                            <div class="col-md-12">   
                                <label>Title</label>
                                <input name="title" id="title" type="text" class="form-control"
                                     value="{{question.title}}">
                            </div>

                            <div class="col-md-12">   
                                <label>Description</label>
                                <input name="description" id="description" type="text" class="form-control"
                                     value="{{question.description}}">
                            </div>

                            <div class="col-md-12">   
                                <label>Suggested Answer</label>
                                <textarea class="form-control" id="suggestion" name="suggestion" rows="4" placeholder="Provide a suggestion to this question." required>
                                {{question.suggestion}}
                                </textarea>
                            </div>

                            
                            <div class="col-md-12">
                                <input type="submit" name="action" value="Save" class="btn btn-primary btn-tall"
                                   id="" style="float:right; margin-top: 30px;">       
                            </div>

                            </div>
                            </form> 
                    
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

