{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">

                    <h1 class="font_color"><b>Frequently Asked Questions</b></h1>
                    <hr>

                    <h3 style="display: inline-block;"><b class="font_color">What is BMI?</b> - Zafirah</h3>
                    <p>BMI is person's weight in kilograms (kg) divided by his or her height in meter squared. The
                        National Institute of Health (NIH) now defines normal weight, overweight and obesity according
                        to BMI rather than the traditional height/weight charts. Overweight is a BMI of 23 for an
                        average person.</p>
                    <input type="submit" name="action" value="Update Answer" class="btn btn-primary"
                        style="background-color: #4CAF50;">
                    <input type="submit" name="action" value="Delete Question" class="btn btn-primary" id="remove-shop"
                        style="background-color:#d9534f; float:right;">
                    <input type="submit" name="action" value="Ban User" class="btn btn-primary" id="remove-shop"
                        style="background-color:#d9534f; float:right;">
                    <hr>

                    <h3 style="display: inline-block;"><b class="font_color">What are calories?</b> - Andrea</h3>
                    <p>A calorie is a unit of energy. In nutrition, calories refer to the energy people get from the
                        food and drink they consume, and the energy they use in physical activity.</p>
                    <input type="submit" name="action" value="Update Answer" class="btn btn-primary" style="background-color: #4CAF50;">
                    <input type="submit" name="action" value="Delete Question" class="btn btn-primary" id="remove-shop"
                        style=" background-color:#d9534f; float:right;">
                    <input type="submit" name="action" value="Ban User" class="btn btn-primary" id="remove-shop"
                        style="background-color:#d9534f; float:right;">
                    <hr>

                    <h3 style="display: inline-block;"><b class="font_color">Can I become healthy by dieting?</b> - Balavignesh </h3>
                    <p>Yes, beginning a diet to lose weight and improve health is a worthy goal, but it can be a bit
                        overwhelming. There are bound to be challenges whenever you start something new, especially when
                        it involves something you do several times each day like eating and drinking. Still, as long as
                        you don't try to change everything at once, you can meet your weight loss goals.
                    </p>
                    <input type="submit" name="action" value="Update Answer" class="btn btn-primary" style="background-color: #4CAF50;">
                    <input type="submit" name="action" value="Delete Question" class="btn btn-primary" id="remove-shop"
                        style=" background-color:#d9534f; float:right;">
                    <input type="submit" name="action" value="Ban User" class="btn btn-primary" id="remove-shop"
                        style="background-color:#d9534f; float:right;">

                    <form method="get" id="answer-link" action="#">
                        <hr>
                        <h3 style="display: inline-block;"><b class="font_color"> What happens to the extra calories? </b> - Megan </h3>
                        <p><b> Not answered yet </b></p>
                        <input type="submit" name="action" value="Add Answer" class="btn btn-primary" style="background-color: #4CAF50;">
                        <input type="submit" name="action" value="Delete Question" class="btn btn-primary" id="remove-shop"
                            style=" background-color:#d9534f; float:right;">
                        <input type="submit" name="action" value="Ban User" class="btn btn-primary" id="remove-shop"
                            style="background-color:#d9534f; float:right;">
                    </form>

                    <br>
                    <hr>

                    <form method="post" action="" id="query-form">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">
                    <h1 class="font_color"><b>Banned Users</b></h1>
                    <hr>

                    <form method="post" action="">
                        <input type="text" value="Test (test@mail.com)" id="user-info" name="user-info" style="width: 30%;"
                            readonly="">
                        <input hidden="" type="text" value="Test" id="name" name="name" style="width: 30%;" readonly="">
    
                        <input type="submit" value="Unban User" name="action" class="btn btn-primary"
                            style="background-color: #4CAF50; height: 50px;">
    
                    </form>
    
                </div>
            </div>
        </div>
    </div>
</div>