<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg3Y-44lgOHZmGOV9TXTDxJ2vb2e2R_Cg" type="text/javascript"></script>

<style>
	body {
		background-image: url("images/green-background.png");
	}
</style>

<div>
	<div class="row" style="margin:0;">
		<div class="col-md-12">
			<div class="col-md-8">
				<div class="align-items-center" id="welcome-msg">
					<div class="splash-text-container">
						<h2 class="welcome-header">Welcome to a healthier you.</h2>
						<p class="welcome-body">We have everything you need to get your diet in control,
							from meal journals to personalised diet plans.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4" id="form-input">
				<div class="center-block">
					<div class="text-center auth-brand">
						<img src="images/healthhub-logo.png" id="SN-Logo" width="100" height="95">
						<h1><b>FoodHub.SG</b></h1>
					</div>

					<form method="post">
						<div class="row">
							<div class="col-md-8 offset-md-2">

								<div class="row form-group">
									<h4>Sign into your account</h4>
								</div>

								<div class="row form-group">
									<input type="email" name="email" id="email" class="form-control"
										placeholder="Email Address" required>
								</div>

								<div class="row form-group">
									<input type="password" name="password" id="password" class="form-control"
										placeholder="Password" required>
								</div>

								<div class="flash-div">
								{{#if error}}
									<div class="row form-group">
										<div class="col-md-12 row-flash">
											<div class="col-md-12" style="padding: 0;">
												<div class="flash error">
													<div>
														{{error}}
														<span class="pull-right"><i class="fas fa-times" onclick="hideMessage()"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								{{/if}}
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-md-4" id="login-div" style="padding:0;">
											<input type="submit" value="Log In" class="btn btn-success" id="submit-button" style="width:100%;">
										</div>
										<div class="col-md-8" id="google-login-div" style="padding:0 0 0 15px;">
											<a href="/google" class="btn btn-google" style="width:100%;">
											<img src="https://developers.google.com/identity/images/g-logo.png" class="img-responsive google-logo" alt="Image" style="width:25px;height:25px;">
											&nbsp;Sign in with Google
											</a>
										</div>
									</div>
								</div>

								<div class="row form-group">
									<p id="new-acc">
										<a href="/register">Create a new account</a>
									</p>
								</div>

							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(window).on('resize', function() {
		if ($(window).width() > 1200) {
			$('#login-div').addClass('col-md-4');
			$('#google-login-div').addClass('col-md-8');
			$('#login-div').removeClass('col-md-12');
			$('#google-login-div').removeClass('col-md-12');
			$("#google-login-div").css("padding", "0 0 0 15px");
		} else {
			$('#login-div').addClass('col-md-12');
			$('#google-login-div').addClass('col-md-12');
			$('#login-div').removeClass('col-md-4');
			$('#google-login-div').removeClass('col-md-8');
			$("#google-login-div").css("padding", "0");
		}
	})
</script>