{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">

                    {{#each result}}
                    <h3><b class="font_color">{{this.name}}</b></h3>
                    {{/each}}
                   
                    <br>
                    <hr>

                   

                </div>
            </div>
        </div>
    </div>
</div>