{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">
                    Edit Your Compliment
                    <form method="post" action="" id="compliment-form">
                        <label for="comment">Edit Your Compliment Below</label>
                        <textarea id="compliment" name="compliment" form="compliment-form" class="form-control" rows="4"
                            cols="50" required> {{compliment.compliment}} </textarea>
                        <button type="submit" name="action" value="submitComment" id="submitComment"
                            class="btn btn-primary" style="background-color: #4CAF50;" disabled>Submit</button>


                </div>
            </div>
        </div>
    </div>
</div>

<script> 

    $('#compliment')
    .on("change", function(event) {
        if ($('#compliment').length == 0) {
            $("#submitComment").attr("disabled", true);
        } else {
            $("#submitComment").attr("disabled", false);
        }
    });
</script>