{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">
                    

                    <div class="col-md-6 recommended-shops">
                        <div class="blog-entry">

                                    <h3 class="font_color">{{friend.name}}</h3>
                                    <h3 class="font_color">{{friend.email}}</h3>
                                <p> {{friend.height}}</p>
                                <p> {{friend.weight}}</p>
                            </div>
                        </div>
                    </div>

                    <div></div>

                </div>
            </div>
        </div>
    </div>
</div>