{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="row row-pb-md" id="all-shops-container">

                <div class="col-md-12">
                    <div class="accordion" id="filerAccordion">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 class="font_color"><b class="center_subtitle">All Shops Near You</b></h1>
                            </div>
                            <div class="col-md-4">
                                <a  data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" style="float:right;">
                                    <i class="fas fa-filter hyperlink"></i>&nbsp;<span class="hyperlink">Filter</span>
                                </a>
                            </div>
                        </div>
                    
                        <div id="collapseFilter" class="collapse" aria-labelledby="filterHeading" data-parent="#filerAccordion">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="isCurrentCity" id="isCurrentCity" value="isCurrentCity" checked>
                                <label class="form-check-label" for="isCurrentCity">Current City</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
      
            </div>
        </div>
    </div>
</div>

<script>
    var allShops = {{{ json shops }}};

    for (i = 0; i < allShops.length; i++) createShopContainer(allShops[i])

    function createShopContainer(shop) {
        $('#all-shops-container').append(
            '<div class="col-md-6 recommended-shops"><div class="blog-entry"><div class="blog-img">' +
            '<a class="action" href="/user/shops/' + shop.id + '"><img src="' + shop.imageLocation + '" class="img-responsive" alt="Image of shop"></a>' +
            '</div><div class="desc all-shops">' +
            '<b class="vendors"><b>' + shop.name + '</b></b><br>' +
            '<span class="food_location"><b>' + shop.address + '</b></span><br>' +
            '</div></div></div>'
        );
    };
</script>