{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="row row-pb-md">
                <div class="col-md-12">

                    <form id="searchFoodForm" action="">
                        <header id="summary-header">
                            <div class="accordion" id="filerAccordion">
                                <div class="row">

                                    <div class="col-md-7">
                                        <h1 class="font_color"><b class="center_subtitle">All Shops Near You</b></h1>
                                        <a data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                                            <i class="fas fa-filter hyperlink"></i>&nbsp;<span class="hyperlink">Filter</span>
                                        </a>
                                    </div>
                                
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <input type="text" name="searchShopInput" id="searchShopInput" class="form-control" placeholder="Eg: Grains" required>
                                            <span class="input-group-btn">
                                                <input type="submit" name="action" value="Search Shops" class="btn btn-primary" style="margin-left:0.5em; height:50px;">
                                            </span>
                                        </div>
                                        <a id="resetSearchLink" href="/user/shops" style="float:right;display:none;">
                                            <i class="fas fa-undo hyperlink"></i>&nbsp;<span class="hyperlink">Reset Search</span>
                                        </a>
                                    </div>

                                    <div id="collapseFilter" class="collapse col-md-12" aria-labelledby="filterHeading" data-parent="#filerAccordion">
                                        hfbpihbsfphfspbsf
                                    </div>

                                </div>
                            </div>
                            <hr>
                        </header>
                    </form>

                    <div class="row" id="all-shops-container">
                    </div>

                </div>     
            </div>
        </div>
    </div>
</div>

<script>
    var allShops = {{{ json shops }}};
    var availableTags = [];
    createShopTemplate(allShops);
    for (i = 0; i < allShops.length; i++) availableTags.push(allShops[i].name);

    $("#searchShopInput").autocomplete({
      source: availableTags
    });

    $("form#searchFoodForm").submit(function (event) {
        event.preventDefault();
        let searchName = $('#searchShopInput').val();

        $.ajax({
            type: 'post',
            url: `/user/searchShops`,
            data: { searchName },
            dataType: 'text'
        })
        .done(function (data) {
            createShopTemplate(JSON.parse(data));
            $("#resetSearchLink").css("display", "block");
        });
    });
</script>