{{#if success}}
    <div class="flash-div">
    <div class="row form-group">
        <div class="col-md-12">
            <div class="flash success">
                <div class="container">{{success}}</div>
            </div>
        </div>
    </div>
    </div>
{{/if}}

{{#if error}}
    <div class="flash-div">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="flash error">
                    <div class="container">{{error}}</div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

