{{#if success}}
    <div class="flash-div">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="flash success">
                    <div class="container">
                        <i class="fas fa-check"></i> 
                        &nbsp {{success}}
                        <span class="pull-right"><i class="fas fa-times" onclick="hideMessage()"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if error}}
    <div class="flash-div">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="flash error">
                    <div class="container">
                        <i class="fas fa-exclamation-triangle"></i> 
                        &nbsp {{error}}
                        <span class="pull-right"><i class="fas fa-times" onclick="hideMessage()"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

