<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="col-md-12" style="padding: 0.5em 0.5em 0 0.5em !important;">
                <div class="row row-pb-md">
                    <form action="" method="post" id="food-form">
                        <div class="col-md-12">
                            <h1 class="font_color"><b>Add Food Item</b></h1>
                            <hr>
                        </div>

                        <div class="col-md-9">
                            <div class="blog-entry">
                                <input type="file" id="venUpload" name="venUpload" accept="image/png,
 					image/jpeg,image/jpg,image/gif">
                                <img src="/images/nice-waffle.jpg" id="venImage" name="venImage" class="img-responsive"
                                    alt="Image">
                                <input id="imageURL" type="hidden" name="imageURL">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="desc">
                                <p class="meta">
                                    <label>Name of Food</label>
                                    <input name="name" id="name" type="text" class="form-control" value=""
                                        placeholder="Name">
                                    <label>Calories</label>
                                    <input name="calories" id="calories" type="text" class="form-control" value=""
                                        placeholder="Calories">

                                    {{#each shop}}
                                    
                                        <label for="shop">{{this.name}}</label>
                                        <input name="shop" id="shop" type="checkbox" class="form-control"
                                            value="{{this.id}}" onclick="getShops()"> 

                                    {{/each}}

                                    <hr>
                                </p>
                            </div>
                        </div>



                        <div class="col-md-12">
                            <button type="submit" name="action" value="Add Shop" class="btn btn-primary"
                                style="background-color: #4CAF50;">Add Shop</button>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>