{{> _msg }}
<div id="colorlib-container">
    <div class="container">
        <div class="box1">
            <div class="col-md-12" style="padding: 0.5em 0.5em 0 0.5em !important;">
                <div class="row row-pb-md">
                    <form action="" method="post" id="food-form">
                        <div class="col-md-12">
                            <h1 class="font_color"><b>Add Food Item</b></h1>
                            <hr>
                        </div>

                        <div class="col-md-9">
                            <div class="blog-entry">
                                <input type="file" id="venUpload" name="venUpload"
                                    accept="image/png,image/jpeg,image/jpg,image/gif">
                                <img src="/images/nice-waffle.jpg" id="venImage" name="venImage" class="img-responsive"
                                    alt="Image">
                                <input id="imageURL" type="hidden" name="imageURL" value="/images/nice-waffle.jpg">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="desc">
                                <p class="meta">
                                    <label>Name of Food</label>
                                    <input name="name" id="name" type="text" class="form-control" value=""
                                        placeholder="Name">
                                    <label>Calories</label>
                                    <input name="calories" id="calories" type="text" class="form-control" value=""
                                        placeholder="Calories">

                                    {{#if shop}}
                                    {{#each shop}}
                                        <div class="checkbox-group" style="display:inline-block;">
                                            <input name="shop" id="shop" type="checkbox" class="checkbox" value="{{this.id}}">&nbsp;
                                            <label>{{this.name}}</label>{{#unless @last}}&nbsp;&nbsp;•&nbsp;&nbsp;{{/unless}}
                                        </div>
                                        {{/each}}
                                    <hr>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" name="action" value="AddFoodButton" id="addFoodButton"
                                class="btn btn-primary btn-tall" disabled>Add
                                Food </button>

                            {{else}}
                            <p> You have no shops available, please add a shop </p>
                            {{/if}}
                            <hr>
                            </p>
                        </div>
                </div>
                <div class="col-md-12">
                    </form>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<script>
    $('.checkbox')
    .bind("propertychange change click keyup input paste", function (event) {
        if ($('.checkbox:checkbox:checked').length == 0) {
            $("#addFoodButton").attr("disabled", true);
        } else {
            $("#addFoodButton").attr("disabled", false);
        }
    });
</script>